<section class="services-details">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-8 content-side">

                <div
                        class="theme_carousel owl-theme owl-carousel"
                        data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "1" }, "1200":{ "items" : "1" }}}'
                >
                    <div class="slide">
                        <div class="image-slide">
                            <img src="assets/images/resource/single-service-1.jpg" alt=""/>
                            <div class="content">
                                <h4>
                                    We approach your audit with a deep understanding
                                    <br/>
                                    of your business.
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="image-slide">
                            <img src="assets/images/resource/single-service-2.jpg" alt=""/>
                            <div class="content">
                                <h4>
                                    We approach your audit with a deep understanding
                                    <br/>
                                    of your business.
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="image-slide">
                            <img src="assets/images/resource/single-service-3.jpg" alt=""/>
                            <div class="content">
                                <h4>
                                    We approach your audit with a deep understanding
                                    <br/>
                                    of your business.
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-5">
                        <div class="icon"><span class="flaticon-chart"></span></div>
                    </div>
                    <div class="col-md-7">
                        <div class="text mt-5">
                            <p>
                                <strong>TMP TECH CORP</strong>
                                tự hào là đơn vị nhập khẩu trực tiếp các sản phẩm LED chuyên
                                dụng từ các nhãn hàng nổi tiếng như : Samsung, NEC… Vì vậy chúng
                                tôi luôn có những sản phẩm chất lượng nhất với giá thành hợp lý
                                nhất..
                            </p>
                        </div>
                    </div>
                </div>

                <div class="text">
                    Chúng tôi luôn có những sản phẩm chất lượng nhất với giá thành hợp lý
                    nhất từ các thươgn hiệu nổi tiếng.
                </div>

            </div>
            <aside class="col-lg-4">
                <div class="service-sidebar">
                    <div class="widget widget_categories_two">
                        <div class="widget-content">
                            <ul class="categories-list clearfix">
                                <li>
                                    <a href="/services-products">Dịch vụ và sản phẩm phần mềm<span
                                    ></span></a>
                                </li>
                                <li>
                                    <a href="/services-electronic-digital">Dịch vụ và thiết bị số
                                        hoá điện tử
                                        <span></span></a>
                                </li>
                                <li>
                                    <a href="/information-security-system">Hệ thống an toàn thông
                                        tin
                                        <span></span></a>
                                </li>
                                <li>
                                    <a href="/high-tech-security-system">Hệ thống an ninh công
                                        nghệ cao
                                        <span></span></a>
                                </li>
                                <li>
                                    <a href="/buy-rent-LED">Bán và cho thuê màn hình LED
                                        <span></span></a>
                                </li>
                                <li>
                                    <a href="/urban-decor">Trang trí đô thị <span></span></a>
                                </li>
                                <li>
                                    <a href="/office-stage">Nội thất văn phòng và sân khấu chuyên
                                        nghiệp
                                        <span></span></a>
                                </li>
                                <li>
                                    <a href="/supply-supplies-equipment">Cung ứng vật tư và thiết
                                        bị văn phòng
                                        <span></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </aside>
        </div>
    </div>
</section>