<section class="services-details">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-8 content-side">

                <div
                        class="theme_carousel owl-theme owl-carousel"
                        data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "1" }, "1200":{ "items" : "1" }}}'
                >
                    <div class="slide">
                        <div class="image-slide">
                            <img src="assets/images/resource/single-service-1.jpg" alt=""/>
                            <div class="content">
                                <h4>
                                    We approach your audit with a deep understanding
                                    <br/>
                                    of your business.
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="image-slide">
                            <img src="assets/images/resource/single-service-2.jpg" alt=""/>
                            <div class="content">
                                <h4>
                                    We approach your audit with a deep understanding
                                    <br/>
                                    of your business.
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="image-slide">
                            <img src="assets/images/resource/single-service-3.jpg" alt=""/>
                            <div class="content">
                                <h4>
                                    We approach your audit with a deep understanding
                                    <br/>
                                    of your business.
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-5">
                        <div class="icon"><span class="flaticon-chart"></span></div>
                    </div>
                    <div class="col-md-7">
                        <div class="text mt-5">
                            <p>
                                Chúng tôi cam kết các hệ thống được bảo vệ 24/7 và thời gian xử
                                lý sự cố tối đa chỉ 60 phút. Đội ngũ kỹ sư có tay nghề cao và
                                những sản phẩm uy tín quốc tế đến từ: IBM , CISCO, GOOGLE,
                                AMAZON.. sẽ đảm bảo hệ thống của khách hàng an toàn trước các
                                cuộc tấn công cũng như các sự cố.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="text">
                    Bằng cách hợp tác với các đối tác hàng đầu trong bảo mật và lưu trữ
                    thông tin trên thế giới. Chúng tôi cung cấp các giải pháp hạ tầng giúp
                    khách hàng lưu trữ và vận chuyển thông tin trên Internet một cách an
                    toàn nhất với chi phí tối ưu. Đội ngũ kỹ sư có nhiều năm kinh nghiệm
                    trong lĩnh vực an toàn thông tin sẽ giúp khách hàng yên tâm nhất về
                    thứ tài sản có giá trị nhất trên internet đó chính THÔNG TIN.
                    <br/>
                    Một số hệ thống lưu trữ và bảo vệ thông tin toàn cầu chúng tôi đang sử
                    dụng:
                </div>

            </div>
            <aside class="col-lg-4">
                <div class="service-sidebar">
                    <div class="widget widget_categories_two">
                        <div class="widget-content">
                            <ul class="categories-list clearfix">
                                <li>
                                    <a href="/services-products">Dịch vụ và sản phẩm phần mềm<span
                                    ></span></a>
                                </li>
                                <li>
                                    <a href="/services-electronic-digital">Dịch vụ và thiết bị số
                                        hoá điện tử
                                        <span></span></a>
                                </li>
                                <li>
                                    <a href="/information-security-system">Hệ thống an toàn thông
                                        tin
                                        <span></span></a>
                                </li>
                                <li>
                                    <a href="/high-tech-security-system">Hệ thống an ninh công
                                        nghệ cao
                                        <span></span></a>
                                </li>
                                <li>
                                    <a href="/buy-rent-LED">Bán và cho thuê màn hình LED
                                        <span></span></a>
                                </li>
                                <li>
                                    <a href="/urban-decor">Trang trí đô thị <span></span></a>
                                </li>
                                <li>
                                    <a href="/office-stage">Nội thất văn phòng và sân khấu chuyên
                                        nghiệp
                                        <span></span></a>
                                </li>
                                <li>
                                    <a href="/supply-supplies-equipment">Cung ứng vật tư và thiết
                                        bị văn phòng
                                        <span></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </aside>
        </div>
    </div>
</section>