<section class="services-details">
  <div class="auto-container">
    <div class="row">
      <div class="col-lg-8 content-side">

        <div>

          <div class="image-slide">
            <img src="assets/images/resource/image-34.jpg" alt="" />
           
          </div>

        </div>
        <div class="row mb-5">
          <div class="col-md-5">
            <div class="icon"><span class="flaticon-chart"></span></div>
          </div>
          <div class="col-md-7">
            <div class="text mt-5">
              <p>
                Xây dựng các hệ thống website, ứng dụng đáp ứng tất cả các bài
                toán kinh doanh của khách hàng. Công nghệ dẫn đầu, độ bảo mật
                cao, thiết kế chuyên nghiệp và thẩm mỹ cùng trải nghiệm người
                dùng tuyệt vời.
              </p>
            </div>
          </div>
        </div>

        <h2>Sản phẩm phần mềm</h2>
        <div class="text">
          Dưới đây là những sản phẩm của bên chúng tôi:
        </div>
        <div class="row">
          <div class="col-md-6">
            <ul class="nav nav-tabs tab-btn-style-one mr-md-4" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="price-tab-one-area"
                  data-toggle="tab"
                  href="#price-tab-one"
                  role="tab"
                  aria-controls="price-tab-one"
                  aria-selected="true"
                >01. Xây dựng hệ thống website/portal
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="price-tab-two-area"
                  data-toggle="tab"
                  href="#price-tab-two"
                  role="tab"
                  aria-controls="price-tab-two"
                  aria-selected="false"
                >
                  02. Phát triển ứng dụng di động
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="price-tab-two-area"
                  data-toggle="tab"
                  href="#price-tab-three"
                  role="tab"
                  aria-controls="price-tab-three"
                  aria-selected="false"
                >
                  03. Giải pháp phần mềm/server đặc biệt
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="price-tab-two-area"
                  data-toggle="tab"
                  href="#price-tab-four"
                  role="tab"
                  aria-controls="price-tab-four"
                  aria-selected="false"
                >
                  04. Phần mềm cho khối Chính Phủ
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="price-tab-two-area"
                  data-toggle="tab"
                  href="#price-tab-five"
                  role="tab"
                  aria-controls="price-tab-five"
                  aria-selected="false"
                >
                  05. Phần mềm cho khối Y Tế
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="price-tab-two-area"
                  data-toggle="tab"
                  href="#price-tab-six"
                  role="tab"
                  aria-controls="price-tab-six"
                  aria-selected="false"
                >
                  06. Phần mềm cho khối Giáo Dục
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">

            <div
              class="tab-content wow fadeInUp"
              data-wow-delay="200ms"
              data-wow-duration="1200ms"
            >
              <div
                class="tab-pane fadeInUp animated active"
                id="price-tab-one"
                role="tabpanel"
                aria-labelledby="price-tab-one"
              >
                <div class="text">
                  Các công nghệ mới và tốt nhất:
                  <ul>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>HTML5, CSS3 ,Javascript ES 6
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Jquery, VueJS, ReactJS, AngularJS
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Bootstrap 4, Matterial Design
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Spring, NodeJS, Python,…
                    </li>
                  </ul>
                </div>
                <img src="assets/images/resource/service-1.png" alt="" />
              </div>
              <div
                class="tab-pane fadeInUp animated"
                id="price-tab-two"
                role="tabpanel"
                aria-labelledby="price-tab-two"
              >
                <div class="text">
                  Ứng dụng di động giúp doanh nghiệp có thể mang tới trải nghiệm
                  tốt nhất đối với khách hàng. Đây là thị trường nhiều tỷ đô mà
                  tất cả các doanh nghiệp đều muốn tham gia. TMP TECH CORP nắm
                  bắt được nhu cầu đó và đã làm chủ được các công nghệ hàng đầu
                  như: Swift, Java , React Native
                </div>
                <img src="assets/images/resource/service-2.png" alt="" />
              </div>
              <div
                class="tab-pane fadeInUp animated"
                id="price-tab-three"
                role="tabpanel"
                aria-labelledby="price-tab-three"
              >
                <div class="text">
                  Với thế mạnh là một doanh nghiệp phát triển dựa trên nền tảng
                  điện toán đám mây: Cloud Computing. Chúng tôi luôn giải quyết
                  các vấn đề của khách hàng bằng những hệ thống thông minh, đa
                  nền tảng, ổn định, bảo mật cao, phân tán và chi phí bảo trì
                  bảo dưỡng linh hoạt tùy theo lưu lượng sử dụng. Cloud
                  Computing là một trong những yếu tố tiên quyết của nền công
                  nghiệp 4.0
                </div>
                <img src="assets/images/resource/service-3.png" alt="" />
              </div>
              <div
                class="tab-pane fadeInUp animated"
                id="price-tab-four"
                role="tabpanel"
                aria-labelledby="price-tab-four"
              >
                <div class="text">
                  <ul>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Phần mềm đơn thư khiếu nại tố cáo
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Phần mềm quản lý thi đua khen thưởng
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Phần mềm lý lịch tư pháp
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Phần mềm nhân khẩu hộ khẩu
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>...
                    </li>
                  </ul>
                </div>
                <img src="assets/images/resource/service-4.png" alt="" />
              </div>
              <div
                class="tab-pane fadeInUp animated"
                id="price-tab-five"
                role="tabpanel"
                aria-labelledby="price-tab-five"
              >
                <div class="text">
                  <ul>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Phần mềm quản lý bệnh án Online
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Phần mềm quản lý bác sĩ
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Phần mềm quản lý thiết bị y tế
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Phần mềm đặt lịch khám chữa bệnh
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>...
                    </li>
                  </ul>
                </div>
                <img src="assets/images/resource/service-5.png" alt="" />
              </div>
              <div
                class="tab-pane fadeInUp animated"
                id="price-tab-six"
                role="tabpanel"
                aria-labelledby="price-tab-six"
              >

                <div class="text">
                  <ul>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Phần mềm quản lý học sinh/sinh viên
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Phần mềm giáo án điện tử
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Game phục vụ giáo dục
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Phần mềm quản lý thư viện
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Hệ thống thông tin thư viện online
                    </li>
                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>Hệ thống đặt lịch học online
                    </li>

                    <li>
                      <i
                        class="fa fa-check"
                        style="margin-right: 10px; font-size: 15px"
                      ></i>...
                    </li>
                  </ul>
                </div>
                <img src="assets/images/resource/service-6.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <aside class="col-lg-4">
        <div class="service-sidebar">
          <div class="widget widget_categories_two">
            <div class="widget-content">
              <ul class="categories-list clearfix">
                <li>
                  <a href="/services-products">Dịch vụ và sản phẩm phần mềm<span
                    ></span></a>
                </li>
                <li>
                  <a href="/services-electronic-digital">Dịch vụ và thiết bị số
                    hoá điện tử
                    <span></span></a>
                </li>
                <li>
                  <a href="/information-security-system">Hệ thống an toàn thông
                    tin
                    <span></span></a>
                </li>
                <li>
                  <a href="/high-tech-security-system">Hệ thống an ninh công
                    nghệ cao
                    <span></span></a>
                </li>
                <li>
                  <a href="/buy-rent-LED">Bán và cho thuê màn hình LED
                    <span></span></a>
                </li>
                <li>
                  <a href="/urban-decor">Trang trí đô thị <span></span></a>
                </li>
                <li>
                  <a href="/office-stage">Nội thất văn phòng và sân khấu chuyên
                    nghiệp
                    <span></span></a>
                </li>
                <li>
                  <a href="/supply-supplies-equipment">Cung ứng vật tư và thiết
                    bị văn phòng
                    <span></span></a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </aside>
    </div>
  </div>
</section>