<section class="about-section-seven">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-block">
                    <div class="image-box">
                        <img
                                class="lazy-image owl-lazy"
                                src="assets/images/resource/05.jpg"

                                alt=""
                        />
                    </div>

                    <div class="shape-one">
                        <img src="assets/images/shape/shape-19.png" alt=""/>
                    </div>
                    <div class="shape-two">
                        <img src="assets/images/shape/shape-20.png" alt=""/>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sec-title">
                    <h2>Giới thiệu</h2>
                    <span class="text-decoration-two"></span>
                </div>
                <div class="text-block">
                    <div class="text">
                        Với sứ mệnh kiến tạo sự phồn vinh của Đất Nước, TMP TECH CORP luôn
                        tự hào là một trong những đơn vị dẫn đầu về ứng dụng công nghệ thông
                        tin, cũng như cung cấp các giải pháp công nghệ cao tại Việt Nam.
                    </div>
                    <div class="text">
                        Chúng tôi luôn mang tới những công nghệ, sản phẩm, thiết bị và giải
                        pháp toàn diện được chọn lọc và phát triển bởi những kỹ sư ưu tú.
                        Qua đó, khách hàng của chúng tôi có cơ hội trải nghiệm các thương
                        hiệu hàng đầu, sản phẩm và dịch vụ tốt nhất với giá cả hợp lý, đem
                        lại hiệu quả kinh tế cao.
                    </div>
                    <h4>Sứ mệnh của Doanh nghiệp</h4>
                    <div class="text">
                        TMP TECH CORP xác định sứ mệnh tiên quyết của doanh nghiệp trong
                        thời điểm Cách mạng Công Nghiệp 4.0 đã bắt đầu với sự tự động hóa:
                        Sử dụng nền tảng công nghệ 4.0 để góp phần hưng thịnh quốc gia, ghi
                        tên mình vào bản đồ công nghệ thế giới. Đây chính là cơ hội không
                        thể tốt hơn cho doanh nghiệp Việt nói chung và TMP TECH CORP nói
                        riêng.
                    </div>
                </div>
                <div class="author-box">
                    <div class="author-info">
                        <img src="assets/images/resource/06.png" alt=""/>
                        <h4>Hoàng Thành Đạt</h4>
                        <h5>Tổng Giám Đốc</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section
        class="experience-section-two"
        style="background-image: url(assets/images/background/bg-29.jpg)"
>
    <div class="auto-container">
        <div class="sec-title text-center light">
            <h2>Tầm nhìn doanh nghiệp</h2>
            <span class="text-decoration-two"></span>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="whay-choose-block">
                    <div class="inner-box">
                        <div class="icon"><span class="flaticon-bot"></span></div>
                        <h4>Mục tiêu ngắn hạn</h4>
                        <div class="text">
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i> Tăng trưởng doanh thu tối thiểu
                                    60%/năm.
                                </li>
                                <li class="mt-2">
                                    <i class="fa fa-check"></i> Mở chi nhánh tại TP. Đà Nẵng, đồng
                                    thời mở rộng quy mô công ty.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="whay-choose-block">
                    <div class="inner-box">
                        <div class="icon"><span class="flaticon-diamond"></span></div>
                        <h4>Mục tiêu dài hạn</h4>
                        <div class="text">
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i> TMP TECH CORP lọt TOP 100 doanh nghiệp CNTT lớn nhất
                                    Việt Nam
                                    tính tới năm 2020.

                                </li>
                                <li class="mt-2">
                                    <i class="fa fa-check"></i> Tầm nhìn phát triển tới năm 2030,
                                    trở thành Tập đoàn Công nghệ có mặt tối thiểu trên 100 quốc
                                    gia và vùng lãnh thổ.
                                </li>
                                <li class="mt-2">
                                    <i class="fa fa-check"></i> Triển khai dịch vụ hành chính công
                                    tư động hóa 100% sử dụng công nghệ AI tại 63 tỉnh thành Việt
                                    Nam.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="team-section-six">
    <div class="auto-container">
        <div class="sec-top row m-0 justify-content-md-between">
            <div class="sec-title light">
                <h2>Đội ngũ giàu kinh nghiệm của chúng tôi</h2>
                <span class="text-decoration-two"></span>
            </div>
        </div>
        <div class="row">
            {{#each members}}
                <div class="team-block-three col-lg-3 col-md-6">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{featuredImage}}" alt=""/>
                        </div>
                        <div class="content">
                            <div class="author-title">
                                <h4>{{fullName}}</h4>
                                <div class="designation">{{position}}</div>
                            </div>
                            <ul class="social-links">
                                <li>
                                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="fab fa-google-plus-g"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {{/each }}


        </div>
    </div>
</section>


<section class="award-section-three">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Đối tác</h2>
            <span class="text-decoration-two"></span>
        </div>
        <div class="row">
            <div
                    class="theme_carousel owl-theme owl-carousel"
                    data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "2" }, "768" :{ "items" : "2" } , "992":{ "items" : "3" }, "1200":{ "items" : "4" }}}'
            >
                <div class="award-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/assets/images/partner/doitac1-01.jpg" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="award-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/assets/images/partner/doitac2-01-01.jpg" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="award-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/assets/images/partner/doitac4-01-01-01.jpg" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="award-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/assets/images/partner/doitac6-01-01.jpg" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="award-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img
                                    src="/assets/images/partner/doitac8-01-01-01-01.jpg"
                                    alt=""
                            />
                        </div>

                    </div>
                </div>
                <div class="award-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/assets/images/partner/doitac9-01.jpg" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="award-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/assets/images/partner/doitac10-01-01-01.jpg" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="award-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/assets/images/partner/doitac11-01-01-01.jpg" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="award-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/assets/images/partner/doitac12-01-01-01.jpg" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="award-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/assets/images/partner/doitac51-01-01-01.jpg" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="award-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/assets/images/partner/doitac71-01-01.jpg" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="award-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/assets/images/partner/doitac2301-01-01.jpg" alt=""/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>