<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Login | Admin </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/img/icon-favico-goc.svg">

    <!-- preloader css -->
    <link rel="stylesheet" href="/assets/css/preloader.min.css" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body data-topbar="dark">

    <!-- <body data-layout="horizontal"> -->
    <div class="auth-page">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-xxl-4 col-lg-4 col-md-5">
                    <div class="auth-full-page-content d-flex p-sm-5 p-4">
                        <div class="w-100">
                            <div class="d-flex flex-column h-100">
                                <div class="mb-4 mb-md-5 text-center">
                                    <a class="d-block auth-logo">
                                        {{! <img src="/img/bg/logo-color.svg" alt="" height="50" /> }}
                                         <img src="/assets/logos/logo-tmp2.png" alt="" height="200" />

                                    </a>
                                </div>
                                <div class="auth-content my-auto">
                                    <div class="text-center">
                                        <h5 class="mb-0">Login to your account!</h5>
                                        <p class="text-muted mt-2">TMP Administrator</p>
                                    </div>
                                    {{#if message.error}}
                                    <div class="alert alert-danger">{{{message.error}}} </div>
                                    {{/if}}
                                     {{#if message.ha}}
                                    <div class="alert alert-danger">{{{message.ha}}} </div>
                                    {{/if}}
                                    <form class="mt-4 pt-2" action="./login/password" method="POST">
                                        <div class="form-floating form-floating-custom mb-4">
                                            <input name="username" class="form-control" id="input-username"
                                                placeholder="Nhập Email " required />
                                            <label for="input-username">Username</label>
                                            <div class="form-floating-icon">
                                                <i data-feather="users"></i>
                                            </div>
                                        </div>

                                        <div class="form-floating form-floating-custom mb-4 auth-pass-inputgroup">
                                            <input name="password" type="password" class="form-control pe-5"
                                                id="password-input" placeholder="Nhập mật khẩu" required />

                                            <button type="button"
                                                class="btn btn-link position-absolute h-100 end-0 top-0"
                                                id="password-addon">
                                                <i class="mdi mdi-eye-outline font-size-18 text-muted"></i>
                                            </button>
                                            <label for="input-password">Mật Khẩu</label>
                                            <div class="form-floating-icon">
                                                <i data-feather="lock"></i>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <button class="btn btn-danger w-100 waves-effect waves-light"
                                                style="height:50px" type="submit">Đăng nhập</button>
                                        </div>
                                    </form>
                                    <div class="mt-4 pt-2 text-center">
                                        {{!-- <div class="signin-other-title">
                                            <h5 class="font-size-14 mb-3 text-muted fw-medium">- Hoặc -</h5>
                                        </div> --}}
                                        {{!-- <div class="row ">
                                            <div class="col-sm-6 mb-3">
                                                <a href="/auth/facebook">
                                                    <button class="btn btn-primary btn-container waves-light"
                                                        style="width: 100%;" type="submit">
                                                        <i class="mdi mdi-facebook"></i>
                                                        Đăng nhập Facebook
                                                    </button>
                                                </a>
                                            </div>
                                            <div class="col-sm-6 mb-3">
                                                <a href="/auth/google">
                                                    <button class="btn btn-danger btn-container waves-light"
                                                        style="width: 100%;" type="submit">
                                                        <i class="mdi mdi-google"></i>
                                                        Đăng nhập Google
                                                    </button>

                                                </a>
                                            </div>
                                        </div> --}}
                                    </div>
                                     {{!-- <div class="mt-5 text-center">
                                        <p class="text-muted mb-0">
                                            <a href="./recoverpw">
                                            Quên mật khẩu 
                                                 </a> 
                                                 </p>
                                    </div> --}}
                                    {{!-- <div class="mt-5 text-center">
                                        <p class="text-muted mb-0">Không có tài khoản ? <a href="/register/"
                                                class="text-primary fw-semibold"> Đăng ký ngay </a> </p>
                                    </div> --}}
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end auth full page content -->
                </div>
                <!-- end col -->
                <div class="col-xxl-8 col-lg-8 col-md-7">
                    <div class="auth-bg pt-md-5 p-4 d-flex">
                        <div class="bg-overlay"></div>
                        <div class="row justify-content-center align-items-end">
                            <div class="col-xl-7 col-md-6">
                                <div class="p-0 p-sm-4 px-xl-0">
                                    <div id="reviewcarouselIndicators" class="carousel slide" data-bs-ride="carousel">
                                        <!-- end carouselIndicators -->
                                        {{!-- <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="testi-contain text-center text-white">
                                                    <a class="d-block mt-4 fw-medium lh-base">
                                                        <img src="/img/logo-light.svg" alt="" height="200" width="300">
                                                    </a>
                                                    <i class="bx bxs-quote-alt-left text-success display-6"></i>
                                                    <h4 class="mt-4 fw-medium lh-base text-white">
                                                        “
                                                        Cùng với sự phát triển của thương mại điện tử, việc đặt mua hàng
                                                        qua mạng
                                                        đã trở thành một xu thế mới. Xu thế này được cả các nhà buôn,
                                                        các cửa hàng
                                                        bán lẻ và người tiêu dùng cá nhân hưởng ứng. Đáp ứng xu thế này,
                                                        Mubaha.com
                                                        cung cấp dịch vụ trung gian nhập hàng Trung Quốc từ các website
                                                        thương mại
                                                        điện
                                                        tử hàng đầu Trung Quốc
                                                        ”
                                                    </h4>

                                                </div>
                                            </div>



                                        </div> --}}
                                        <!-- end carousel-inner -->
                                    </div>
                                    <!-- end review carousel -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container fluid -->
    </div>


    <!-- JAVASCRIPT -->
    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>
    <script src="/assets/libs/feather-icons/feather.min.js"></script>
    <!-- pace js -->
    <script src="/assets/libs/pace-js/pace.min.js"></script>

    <script src="/assets/js/pages/pass-addon.init.js"></script>

    <script src="/assets/js/pages/feather-icon.init.js"></script>

</body>

</html>