<section class="sidebar-page-container">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Tin tức</h2>
            <span class="text-decoration-two"></span>
        </div>
        <div class="row">
            <div class="col-lg-8 content-side">
                <div class="row">
                    {{#each news}}
                        <div class="col-md-6 news-block-two">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="#"><img
                                            class="lazy-image owl-lazy"
                                            src="{{featuredImage}}"
                                            data-src="assets/images/resource/news-1.jpg"
                                            alt=""
                                    /></a>
                                </div>
                                <div class="lower-content">
                                    <div class="category">Business</div>
                                    <ul class="post-meta">
                                        <li><a href="#">{{createdAt}}</a></li>

                                    </ul>
                                    <h4><a href="#">{{title}}</a></h4>
                                    <a href="#" class="read-more-link"><i
                                            class="flaticon-right-arrow"
                                    ></i>Đọc thêm</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <aside class="col-lg-4 sidebar">
                <div class="blog-sidebar">
                    <div class="widget widget_search">
                        <form action="#" method="post" class="search-form">
                            <div class="form-group">
                                <input
                                        type="search"
                                        name="search-field"
                                        placeholder="Từ khoá cần tìm ..."
                                        required=""
                                />
                                <button type="search"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widget-title">Danh mục</h3>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
