
      <section class="services-section-six">
        <div class="auto-container">
          <div class="sec-title text-center">
            <h2>Sản phẩm và dịch vụ của chúng tôi</h2>
            <span class="text-decoration-two"></span>
          </div>
          <div class="row">
            <div class="col-lg-4 service-block-six">
              <div class="inner-box">
                <div class="image-box">
                  <img
                    class="lazy-image owl-lazy"
                    src="assets/images/resource/image-spacer-for-validation.png"
                    data-src="assets/images/resource/image-34.jpg"
                    alt=""
                  />
                  <div class="icon-box">
                    <div class="icon"><span class="flaticon-up"></span></div>
                    <h4>
                      DỊCH VỤ<br />
                      & SẢN PHẨM PHẦN MỀM
                    </h4>
                  </div>
                  <div class="overlay">
                    <a href="/services-products"
                      ><span class="flaticon-right"></span
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <div class="text">
                    Xây dựng các hệ thống website, ứng dụng đáp ứng tất cả các
                    bài toán ... <br />
                    <a href="/services-products">Xem Thêm</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 service-block-six">
              <div class="inner-box">
                <div class="image-box">
                  <img
                    class="lazy-image owl-lazy"
                    src="assets/images/resource/image-spacer-for-validation.png"
                    data-src="assets/images/resource/image-35.jpg"
                    alt=""
                  />
                  <div class="icon-box">
                    <div class="icon"><span class="flaticon-chart"></span></div>
                    <h4>
                      DỊCH VỤ <br />
                      & THIẾT BỊ SỐ HOÁ ĐIỆN TỬ
                    </h4>
                  </div>
                  <div class="overlay">
                    <a href="/services-electronic-digital"
                      ><span class="flaticon-right"></span
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <div class="text">
                    Cung cấp các giải pháp số hóa tài liệu nhanh và chính xác,
                    đến từ những phần mềm chuyên ... <a href="/services-electronic-digital">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 service-block-six">
              <div class="inner-box">
                <div class="image-box">
                  <img
                    class="lazy-image owl-lazy"
                    src="assets/images/resource/image-spacer-for-validation.png"
                    data-src="assets/images/resource/image-36.jpg"
                    alt=""
                  />
                  <div class="icon-box">
                    <div class="icon">
                      <span class="flaticon-business-and-finance"></span>
                    </div>
                    <h4>
                      HỆ THỐNG <br />
                      AN TOÀN THÔNG TIN
                    </h4>
                  </div>
                  <div class="overlay">
                    <a href="/information-security-system"
                      ><span class="flaticon-right"></span
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <div class="text">
                    Cam kết các hệ thống được bảo vệ 24/7 và thời gian xử lý sự
                    cố tối đa chỉ 60 phút. Đội ngũ kỹ sư...
                    <a href="/information-security-system">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 service-block-six">
              <div class="inner-box">
                <div class="image-box">
                  <img
                    class="lazy-image owl-lazy"
                    src="assets/images/resource/image-spacer-for-validation.png"
                    data-src="assets/images/resource/image-37.jpg"
                    alt=""
                  />
                  <div class="icon-box">
                    <div class="icon">
                      <span class="flaticon-agreement"></span>
                    </div>
                    <h4>
                      HỆ THỐNG <br />
                      AN NINH CÔNG NGHỆ CAO
                    </h4>
                  </div>
                  <div class="overlay">
                    <a href="/high-tech-security-system"
                      ><span class="flaticon-right"></span
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <div class="text">
                    <ul>
                      <li>
                        Khách hàng sẽ được cung cấp các thiết bị hiện đại nhất
                        đến từ: Samsung , KBVision,... <a href="/high-tech-security-system">Xem thêm</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 service-block-six">
              <div class="inner-box">
                <div class="image-box">
                  <img
                    class="lazy-image owl-lazy"
                    src="assets/images/resource/image-spacer-for-validation.png"
                    data-src="assets/images/resource/image-38.jpg"
                    alt=""
                  />
                  <div class="icon-box">
                    <div class="icon">
                      <span class="flaticon-thought"></span>
                    </div>
                    <h4>
                      BÁN <br />
                      & CHO THUÊ MÀN HÌNH LED
                    </h4>
                  </div>
                  <div class="overlay">
                    <a href="/buy-rent-LED"
                      ><span class="flaticon-right"></span
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <div class="text">
                    Tự hào là đơn vị nhập khẩu trực tiếp các sản phẩm LED chuyên
                    dụng từ các nhãn hàng nổi tiếng ... <a href="/buy-rent-LED">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 service-block-six">
              <div class="inner-box">
                <div class="image-box">
                  <img
                    class="lazy-image owl-lazy"
                    src="assets/images/resource/image-spacer-for-validation.png"
                    data-src="assets/images/resource/image-39.jpg"
                    alt=""
                  />
                  <div class="icon-box">
                    <div class="icon">
                      <span class="flaticon-gear-1"></span>
                    </div>
                    <h4>TRANG TRÍ ĐÔ THỊ</h4>
                  </div>
                  <div class="overlay">
                    <a href="/urban-decor"
                      ><span class="flaticon-right"></span
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <div class="text">
                    Chúng tôi là chuyên gia trong việc thiết kế và thi công
                    trang trí đô thị với chất lượng ... <a href="/urban-decor">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 service-block-six">
              <div class="inner-box">
                <div class="image-box">
                  <img
                    class="lazy-image owl-lazy"
                    src="assets/images/resource/image-spacer-for-validation.png"
                    data-src="assets/images/resource/image-40.jpg"
                    alt=""
                  />
                  <div class="icon-box">
                    <div class="icon">
                      <span class="flaticon-gear-1"></span>
                    </div>
                    <h4>
                      NỘI THẤT VĂN PHÒNG <br />
                      & SÂN KHẤU CHUYÊN NGHIỆP
                    </h4>
                  </div>
                  <div class="overlay">
                    <a href="/office-stage"
                      ><span class="flaticon-right"></span
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <div class="text">
                    Chúng tôi có những chuyên gia thiết kế và trang trí nội thất
                    hàng đầu Việt Nam. Các văn phòng ... <a href="/office-stage">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 service-block-six">
              <div class="inner-box">
                <div class="image-box">
                  <img
                    class="lazy-image owl-lazy"
                    src="assets/images/resource/image-spacer-for-validation.png"
                    data-src="assets/images/resource/image-41.jpg"
                    alt=""
                  />
                  <div class="icon-box">
                    <div class="icon">
                      <span class="flaticon-gear-1"></span>
                    </div>
                    <h4>
                      CUNG ỨNG VẬT TƯ <br />
                      & THIẾT BỊ VĂN PHÒNG
                    </h4>
                  </div>
                  <div class="overlay">
                    <a href="/supply-supplies-equipment"
                      ><span class="flaticon-right"></span
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <div class="text">
                    TMP TECH CORP cung cấp những sản phẩm chất lượng và phù hợp
                    nhất với nhu cầu của  ... <a href="/supply-supplies-equipment">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

